# CCLS cache
    
.ccls-cache/**


# npm-related files (mostly for language server packages)
    
package-lock.json
package.json
node_modules


# build files

bin
obj


# make files

Makefile
*.make
 
